.grid-container {
  display: grid;
  grid-template-columns: 16;
  grid-template-rows: 8;
}

.grid-kids {

}

.item-a {
  background-color: red;
}

.item-b {
  background-color: green;
}

.item-c {
  background-color: blue;
}

.item-d {
  background-color: yellow;
}